@import url("https://fonts.googleapis.com/css?family=Roboto");
 
/* global config */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* global styling */
body {
    font-family: 'Roboto', sans-serif;
    list-style: 1.4;
}
 
a {
   text-decoration: none;
   text-transform: uppercase;
 
}
 
p {
    font-size: 15px;
    line-height: 1.6; 
}
h3{
    margin-bottom: 10px;
 
}
 
/* Utility Classes */
.container {
    margin:auto;
    max-width: 1100px;
    overflow: auto;
    padding: 0 20px;
    text-align: center;
    color: black;
 
}
 
.text-center {
    margin-top: 1.5rem;
    font-size: 3rem;
    text-align: center;
}
 
.text-primary {
    color: #11de41;
    text-align: center;
}
 
.bg-light {
background: rgba(248, 245, 245, 0.774);
height: 50vh;
}
 
.bg-dark {
    text-align: left;
}
 
.bg-primary {
color: red;
}
 
.l-heading {
    font-size: 3rem;
    letter-spacing: 3px;
    text-align: center;
}
 
.m-heading {
    font-size: 3rem;
    margin-bottom: 2rem;
    text-align: center;
}
 
.lead {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    text-align: center;
 
}
/* resize image of clients */
.py-1 {
    margin-top: 2rem;
}
 
.p-1 {
   display: flex;
    height: 8rem;
    width: 8rem;
    margin: auto;
 
}
 
 
.p-2 {
    text-align: left;
}
 
/* porfolio */
.btn {
    display: inline-block;
    color: #fff;
    background-color: #11de41;
    font-weight: bold;
    border-radius: 15px;
    padding: 20px 10px;
    width: 200px;
    text-align: center;
    margin-bottom: 20px;
}
 
.btn:hover {
    background: rgba(255, 255, 255, 0.3);
    color: black;
    font-weight: bold;
}
 
 .btn-dark {
} 
 
.list {
    text-decoration: none;
}
.list li {
    border-bottom-style: groove;
    list-style: none;
 
}
 
/* Navbar */
#navbar {
    display: flex;
    position: sticky;
    top: 0;
    background: black;
    color: #fff;
    justify-content: space-between;
    z-index: 1;
    padding: 1rem;
}
 
#navbar ul {
    display: flex;
    align-items: center;
    list-style: none;
}
 
 
#navbar ul li a {
   color: #fff;
   padding: 0.75rem;
   margin: 0 0.025rem;
}
 
#navbar ul li a:hover {
    background: rgba(255, 255, 255, 0.3);
    color: #11de41;
}
 
/* Showcase */
#showcase {
    background: url(img/main-background.jpg) no-repeat center center/cover;
    height: 100vh;
    color:#fff
}
 
#showcase .showcase-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 2rem;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
}
 
/* Section: What We Do */
#what .items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 30px;
    z-index: 1;
    margin-top: 2rem;
    text-align: left;
 
}
 
#what .items .item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
 
#what .items .item i {
    object-fit: contain;
    margin: 1rem;
    background:#11de41;
    padding: 18px;
    border-radius: 100%;
    text-align: left;
}
 
/* Section: Who We Are */
#who {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 1rem;
    margin:1rem;
    margin-top: 0.075rem;
}
 
#who div {
    display: inline-block;
    object-fit: contain;
    flex-wrap: wrap;
}
 
#who .who-img {
 justify-content: space-between;
 align-items: left;
 margin: 1rem;
}
#who .who-img img{
    height: 500px;
    width:500px;
    justify-content: left;
}
 
 
/* Section: Clients */
#clients .items {
    margin-top: 4rem;
    padding-bottom: 5rem;
    display: flex;
    flex-direction: row;
 
}
#clients .items img {
    height: 100px;
    align-items: center;
    padding: 0 5rem;
}
/* footer */
#main-footer .container{
    display: block;
    margin-bottom: 1rem;
}
.p-3{
    font-size: 18px;
}
